#map{
    /* width:100%; 
    height:500px */
    position: absolute;
    top: 57px;
    left: 0;
    height: 70vh;
    width: 99vw;
}
#cluster-map-space {
  position: relative;
  height: 70vh;
  width: 100%;
  /* background-color: honeydew; */
}
#regular-map{
    width: 100%; height: 300px;
}